<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:supportsRtl="true"
        android:theme="@style/Theme.Sdkexample"
        tools:targetApi="33">

        <meta-data
            android:name="com.example.sdk.APP_CODE"
            android:value="@string/app_code" />

        <provider android:authorities="${applicationId}.SdkInitProvider"
            android:name="com.example.sdk.SdkInitProvider" android:exported="false" tools:node="merge">

            <meta-data android:name="com.example.sdk.sample.SampleInitializer"
                android:value="com.example.sdk.sdkinitializer" />

        </provider>

        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|screenLayout|screenSize|keyboardHidden|smallestScreenSize"
            android:exported="true"
            android:theme="@style/Theme.Sdkexample.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>